.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 7%;
    
}
.center-content1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10%;
    
}
.center-content2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10%;
    
}