ion-content::part(background) {
  background: #a8f8f8;
}

ion-content::part(scroll) {
  color: #0e0d0d;
}
.center-content h1 {
  font-size: 3em;
  text-align: center;
  margin-bottom: 16px;
}

.center-content1 p {
  font-size: 1.3em;
  text-align: center;
  margin-bottom: 30px;
}

.center-content2 h3 {
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 16px;
}