<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div class="title-animation">SkeletonAPP</div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>¡Bienvenido!</h1>
  <h3>Usuario: {{ username }}</h3>
  <h2>Información Adicional</h2>

  <form [formGroup]="homeForm">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input formControlName="name" id="name" *ngIf="animateInputs; else normalInput1" @slideIn></ion-input>
      <ng-template #normalInput1>
        <ion-input formControlName="name" id="name"></ion-input>
      </ng-template>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Apellido</ion-label>
      <ion-input formControlName="surname" id="surname" *ngIf="animateInputs; else normalInput2" @slideIn></ion-input>
      <ng-template #normalInput2>
        <ion-input formControlName="surname" id="surname"></ion-input>
      </ng-template>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nivel de Educación</ion-label>
      <ion-input formControlName="educationLevel"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Fecha de Nacimiento</ion-label>
      <input matInput [matDatepicker]="picker" formControlName="birthDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </ion-item>

    <ion-button expand="block" type="button" (click)="clearForm()">Limpiar</ion-button>
    <ion-button expand="block" type="button" (click)="showInfo()">Mostrar</ion-button>
  </form>
</ion-content>
