ion-content::part(background) {
    background: #a8f8f8;
  }
  
  ion-content::part(scroll) {
    color: #0e0d0d;
}
.slide-in {
  animation: slideInAnimation 1s;
}

@keyframes slideInAnimation {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}


h1 {
    font-size: 3em;
    text-align: center;
    margin-bottom: 16px;
  }
  
  h2 {
    font-size: 2.5em; 
    text-align: center;
    margin-bottom: 16px;
  }
  
  h3 {
    font-size: 1.5em; 
    text-align: left;
    margin-bottom: 16px;
  }
  
  
  ion-label {
    font-size: 1.5em; 
  }
  
 
  .custom-datetime {
    width: 100%;
    font-size: 1.5em;
  }
  
  form {
    max-width: 600px;
    margin: 0 auto; 
  }
  
  
  ion-grid {
    width: 100%;
  }
  
  ion-row {
    align-items: center;
    margin-bottom: 16px;
  }
  
  ion-col {
    display: flex;
    align-items: center;
  }
  
  ion-button {
    margin-top: 20px;
    font-size: 1.2em;
  }
  